

// .meal-planner > * {
//   padding: $s-size;
//   flex: 1 100%;
// }

// @media (min-width: 800px) {
//   .meal-planner__items {flex: 3 0px; background-color: yellow;}
//   .meal-planner__meal {order: 1;}
//   .meal-Planner__items {order: 2;}
//   .meal-planner__footer {order: 4;}
// }

.meal-planner__daily {
  padding: $s-size;
  border: 3px solid black;
}

.meal-planner__table > h2 {
  cursor: pointer;
}

.meal-planner__labels {
  display: grid;
  grid-template-columns: 150px auto 60px 60px 60px 60px
}

.meal-planner__macros {
  display: grid;
  grid-template-columns: auto 60px 60px 60px 60px;
  align-items: stretch;
}

.meal-planner__meal {
  display: grid;
  grid-template-columns: 150px auto;
  border: 1px solid black;
}

.meal-planner__bottom-row {
  display: flex;
  align-self: flex-end;
}